services:
  api:
    build: .
    container_name: todo_api
    ports:
      - "${PORT}:5000"
    env_file:
      - .env
    depends_on:
      - db
    command: sh -c "npm install && npm run dev"

  db:
    image: postgres:16
    container_name: todo_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:

